.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 80%;
  height: 80%;
  min-width: 900px;
}

.d-flex {
  display: flex;
  justify-content: center;
}